{% extends "./dashboard.html" %}
{% block dash_content %}

          <div class="list-group list-group-flush">
              <a href="#" class="list-group-item list-group-item-action">
                  <h2 class="mb-2">Your Vehicle Information</h2>
                    <div class="d-flex justify-content-between">
                          <p class="text-muted">Your real name</p>
                          <p>{{ object.realname }}</p>
                      </div>
                  <div class="d-flex justify-content-between">
                          <p class="text-muted">Plate Number</p>
                          <p>{{ object.plate_num }}</p>
                      </div>
                  <div class="d-flex justify-content-between">
                          <p class="text-muted">Capacity (excluding yourself)</p>
                          <p>{{ object.capacity }}</p>
                      </div>
                  <div class="d-flex justify-content-between">
                          <p class="text-muted">Vehicle Type</p>
                          <p>{{ object.type }}</p>
                      </div>
                  <div class="d-flex justify-content-between">
                          <p class="text-muted">Special request</p>
                          <p>{{ object.special_request }}</p>
                      </div>

              </a>
              <div class="d-flex justify-content-end">
                <a class="btn btn-outline-primary mt-2 mb-1 mr-1 btn-sm" href="{% url 'driver_edit' %}">Edit</a>
              </div>
          </div>


{% endblock  %}