{% extends "./dashboard.html" %}
{% load crispy_forms_tags %}
{% block dash_content %}
    <div class="row">
        <div class="col-4">
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">New Ride Request</legend>
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">Confirm Request</button>
                </div>
            </form>
        </div>
    </div>
{% endblock  %}